<!-- Toolbar -->
<mat-toolbar color="accent" class="header">
  <div>Quilts</div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true" [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/add-quilt">
        <mat-icon>add</mat-icon> Add Quilt
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/add-block">
        <mat-icon>add</mat-icon> Add Block
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/add-piece">
        <mat-icon>add</mat-icon> Add Piece
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/quilts-list">
        <mat-icon>add</mat-icon> View Quilts
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/blocks-list">
        <mat-icon>add</mat-icon> View Blocks
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/pieces-list">
        <mat-icon>add</mat-icon> View Pieces
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- Main Content -->
<mat-sidenav-content>
  <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
